:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f7f7f7;
  --primary-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --title-text-color: #303030;
  --accent-color: #ff6c00;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
body {
  /* background-color: var(--primary-background-color); */
  color: var(--primary-text-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
}
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ------------------------------  header */
.services,
.connection,
.contacts {
  background-color: grey;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: grey;
}
.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-background-color);
}
.header-button {
  color: var(--primary-background-color);
}
/* -------------------------------  hero */
.hero {
  background-color: grey;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--title-text-color);
}
.hero-content {
  padding: 272px 100px 208px 100px;
}
.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}
.hero-after-title {
  color: var(--secondary-text-color);
  max-width: 370px;
}
/* -------------------------------  about */
.about-pre-title {
  color: var(--title-text-color);
  margin-bottom: 20px;
}
.about-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--title-text-color);
  margin-bottom: 20px;
}
.about-after-title {
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 42px;
}
.about-button {
  color: var(--title-text-color);
}
/* -------------------------------  services */
.services-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.services-title {
  color: var(--primary-background-color);
  margin-bottom: 44px;
}
.services-list {
  border: 2px solid greenyellow;
  padding: 30px 20px;
}
.services-item-text {
  color: var(--secondary-text-color);
}
.services-button {
  color: var(--primary-background-color);
  display: block;
  margin: 44px auto 0;
}
/* -------------------------------  feature */
.feature-item {
  border: 2px solid greenyellow;
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;
  background: var(--primary-background-color);
}
.feature-item > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--title-text-color);
}
.feature-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  margin-top: 6px;
  color: var(--title-text-color);
}
.feature-pre-title {
  color: var(--title-text-color);
}
.feature-title {
  color: var(--title-text-color);
}
/* -------------------------------  employees */
.employees {
  background: var(--secondary-background-color);
}
.employees-pre-title {
  color: var(--title-text-color);
  margin-bottom: 20px;
}
.employees-title {
  color: var(--title-text-color);
  margin-bottom: 44px;
}
.employees-item > img {
  margin-bottom: 30px;
}
.employees-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  margin-bottom: 8px;
  color: var(--title-text-color);
}
.employees-item-text {
  font-size: 14px;
  line-height: 1.36;
  color: var(--accent-color);
}
/* -------------------------------  gallery */
.gallery-pre-title {
  color: var(--title-text-color);
}
/* -------------------------------  connection */
.connection-title {
  color: var(--primary-background-color);
}
/* -------------------------------  contacts */
.contacts-title {
  color: var(--primary-background-color);
}
.contacts-address {
  color: var(--secondary-text-color);

  font-weight: 700;
}
.contacts-tel {
  color: var(--secondary-text-color);
}
.contacts-mail {
  color: var(--secondary-text-color);

  text-decoration-line: underline;
}
.contacts-pre-title {
  color: var(--primary-background-color);
}
.contacts-after-title {
  color: var(--secondary-text-color);
}
/* -------------------------------  contacts */
.footer-pre-title {
  text-transform: none;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color);
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--title-text-color);
}
