.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  min-width: 160px;
  height: 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--accent-color);
}
