:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f7f7f7;
  --primary-text-color: #555555;
  --secondary-text-color: #9da4bd;
  --title-text-color: #303030;
  --accent-color: #ff6c00;
}
