.employees {
  background: $secondaryBackgroundColor;
}
.employees__pre-title {
  margin-bottom: 20px;
}
.employees__title {
  color: $titleTextColor;
  margin-bottom: 44px;
}
.card-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card-list__item {
  width: calc((100% - 60px) / 3);
  position: relative;
}
.card-list__top-wrap {
  position: relative;
  overflow: hidden;
}
.card-list__top-text {
  position: absolute;
  top: 0;
  left: 0;
  color: $primaryBackgroundColor;
  background-color: #ff6a0028;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  .card-list__item:hover & {
    transform: translateY(0);
  }
}
.card-list__item-title {
  font-weight: $regularWeight;
  font-size: 18px;
  line-height: 1.39;
  margin-top: 30px;
  margin-bottom: 8px;
  text-align: center;
  color: $titleTextColor;
}
.card-list__item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: $accentColor;
  margin-bottom: 30px;
}
.media__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $primaryBackgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.media__icon {
  fill: $titleTextColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $accentColor;
  }
}
