.feature-container {
  display: flex;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 30px) / 2);
  padding-left: 100px;
  padding-right: 100px;
  margin-right: 30px;
}
.feature-item {
  /* border: 2px solid greenyellow; */
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;
  background: $secondaryBackgroundColor;
  > span {
    font-weight: $boldWeight;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: $largeLetterSpacing;
    color: $titleTextColor;
  }
}
.feature-item:nth-child(odd) {
  margin-right: 30px;
}
.feature-item:nth-child(even) {
  margin-top: 30px;
}
.feature-item-text {
  font-weight: $semiBoldWeight;
  font-size: 11px;
  line-height: 1.36;
  margin-top: 6px;
  color: $titleTextColor;
}
.feature-content {
  max-width: 500px;
}
.feature-pre-title {
  margin-bottom: 20px;
  color: $titleTextColor;
}
.feature-title {
  margin-bottom: 20px;
  color: $titleTextColor;
}
