.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 32px;
  padding-bottom: 32px;
  top: 0;
  left: 0;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 130px;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-connect {
  margin-left: auto;
  margin-right: 20px;
}
.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-background-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-button {
  color: var(--primary-background-color);
  margin-left: 40px;
}
