.services {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/services-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.services__pre-title {
  margin-bottom: 20px;
}
.services__title {
  color: $primaryBackgroundColor;
  margin-bottom: 44px;
}
.services__wrap {
  display: flex;
  gap: 30px;
}
.table-list {
  /* border: 2px solid greenyellow; */
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.table-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
  &::after {
    content: '';
    width: 100px;
    height: 1px;
    background: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
  }
  & + & {
    margin-top: 20px;
  }
}
.table-list__text {
  color: $secondaryTextColor;
  &:last-child {
    order: 1;
  }
}
.services__button {
  color: $primaryBackgroundColor;
  display: block;
  margin: 44px auto 0;
}
